In [56]:
#Load packages
import pandas as pd
import numpy as np
from math import isnan

## Enter dataset year and load data:

In [57]:
year = 2020

In [58]:
#Load data
filename = "LLCP" + str(year) +".XPT"
df = pd.read_sas(filename, encoding='utf-8')

original_column_num = len(df.columns)

C:\Users\Xin\anaconda3\envs\Applied_ML\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

In [59]:
df.head(10)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,01042020,01,04,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,02072020,02,07,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,01232020,01,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0
3,1.0,1.0,01092020,01,09,2020,1100.0,2020000004,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,1.0,1.0,01042020,01,04,2020,1100.0,2020000005,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
5,1.0,1.0,01092020,01,09,2020,1100.0,2020000006,2.020000e+09,1.0,...,2.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
6,1.0,1.0,01092020,01,09,2020,1200.0,2020000007,2.020000e+09,1.0,...,NaN,1.0,NaN,NaN,2.0,1.0,3.0,2.0,1.0,2.0
7,1.0,1.0,01292020,01,29,2020,1200.0,2020000008,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
8,1.0,1.0,01302020,01,30,2020,1100.0,2020000009,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
9,1.0,1.0,01042020,01,04,2020,1100.0,2020000010,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

## Removing variables calculated from other variables in the dataset

In [60]:
#Calculated column names manually extracted from Codebook and Calculated Variables documents for each year
#Source: https://www.cdc.gov/brfss/annual_data/annual_2020.html
calc_var_2020 = ['_RFHLTH', '_PHYS14D', '_MENT14D', '_HCVU651', '_TOTINDA', '_MICHD', '_LTASTH1', '_CASTHM1', 
                 '_ASTHMS1', '_DRDXAR2', '_EXTETH3', '_ALTETH3', '_DENVST3', '_PRACE1', 
                 '_MRACE1', '_HISPANC', '_RACE', '_RACEG21', '_RACEGR3', '_RACEPRV', '_SEX', '_AGEG5YR',
                 '_AGE65YR', '_AGE80', '_AGE_G', 'HTIN4', 'HTM4', 'WTKG3', '_BMI5', '_BMI5CAT', '_RFBMI5', 
                 '_CHLDCNT', '_EDUCAG', '_INCOMG', '_METSTAT', '_URBSTAT', '_SMOKER3', '_RFSMOK3', 'DRNKANY5', 
                 'DROCDY3_', '_RFBING5', '_DRNKWK1', '_RFDRHV7', '_FLSHOT7', '_PNEUMO3', '_RFSEAT2', '_RFSEAT3', 
                 '_DRNKDRV', '_RFMAM22', '_MAM5023', '_RFPAP35', '_RFPSA23', '_CLNSCPY', '_SGMSCPY', '_SGMS10Y', 
                 '_RFBLDS4', '_STOLDNA', '_VIRCOLN', '_SBONTIM', '_CRCREC1', '_AIDTST4', 'MSCODE', '_STSTR', 
                 '_STRWT', '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_CHISPNC']

#Add other years' here

68

In [61]:
#Remove calculated columns from df
if year == 2020:
    df = df.drop(calc_var_2020, axis=1)
    assert df.shape[1] == original_column_num - len(calc_var_2020), "Number of columns not as expected"
#elif year == .....

In [62]:
df.head(10)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,CASTHNO2,QSTVER,QSTLANG,_CRACE1,_CPRACE,_CLLCPWT,_DUALUSE,_DUALCOR,_LLCPWT2,_LLCPWT
0,1.0,1.0,01042020,01,04,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,284.335672
1,1.0,1.0,02072020,02,07,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,171.283329
2,1.0,1.0,01232020,01,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,1847.859106,1334.368863
3,1.0,1.0,01092020,01,09,2020,1100.0,2020000004,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,9.0,NaN,1472.417322,1297.486618
4,1.0,1.0,01042020,01,04,2020,1100.0,2020000005,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,9.0,NaN,1472.417322,454.815127
5,1.0,1.0,01092020,01,09,2020,1100.0,2020000006,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,920.005697,616.146154
6,1.0,1.0,01092020,01,09,2020,1200.0,2020000007,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,341.379354
7,1.0,1.0,01292020,01,29,2020,1200.0,2020000008,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,333.450142
8,1.0,1.0,01302020,01,30,2020,1100.0,2020000009,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,1380.008546,1627.016526
9,1.0,1.0,01042020,01,04,2020,1100.0,2020000010,2.020000e+09,1.0,...,NaN,10.0,1.0,NaN,NaN,NaN,9.0,NaN,1472.417322,1848.534494

## Create new column for presence of any physical chronic condition

Heart Attack, Angina or Coronary Heart Disease, Stroke, Asthma, skin cancer, other types of cancer, chronic obstructive pulmonary disease, C.O.P.D., emphysema or chronic bronchitis, arthritis, rheumatoid arthritis, gout, lupus, or fibromyalgia, depressive disorder, kidney disease, diabetes

In [63]:
#Lists of columns with chronic disease info
chronic_var_2020 = ['CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD2', 
                    'HAVARTH4', 'CHCKDNY2', 'DIABETE4']

#Add other years' here

In [64]:
if year == 2020:
    current_year_chron = chronic_var_2020
#elif ....

In [65]:
for column in current_year_chron:
    print(df[column].dtypes)

float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [66]:
def has_chronic_condition(row):
    for column in current_year_chron:
        if not isnan(row[column]) and round(row[column]) == 1: #Round for comparison to int
            return True
        
    return False

In [67]:
df['CHRON_COND'] = df.apply(lambda row: has_chronic_condition(row), axis=1)
    
df.head(10)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,QSTVER,QSTLANG,_CRACE1,_CPRACE,_CLLCPWT,_DUALUSE,_DUALCOR,_LLCPWT2,_LLCPWT,CHRON_COND
0,1.0,1.0,01042020,01,04,2020,1100.0,2020000001,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,284.335672,True
1,1.0,1.0,02072020,02,07,2020,1200.0,2020000002,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,171.283329,True
2,1.0,1.0,01232020,01,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,1847.859106,1334.368863,True
3,1.0,1.0,01092020,01,09,2020,1100.0,2020000004,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,9.0,NaN,1472.417322,1297.486618,False
4,1.0,1.0,01042020,01,04,2020,1100.0,2020000005,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,9.0,NaN,1472.417322,454.815127,True
5,1.0,1.0,01092020,01,09,2020,1100.0,2020000006,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,920.005697,616.146154,True
6,1.0,1.0,01092020,01,09,2020,1200.0,2020000007,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,341.379354,True
7,1.0,1.0,01292020,01,29,2020,1200.0,2020000008,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,460.002849,333.450142,True
8,1.0,1.0,01302020,01,30,2020,1100.0,2020000009,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,1.0,0.465411,1380.008546,1627.016526,False
9,1.0,1.0,01042020,01,04,2020,1100.0,2020000010,2.020000e+09,1.0,...,10.0,1.0,NaN,NaN,NaN,9.0,NaN,1472.417322,1848.534494,True

## Write out file as CSV to save

In [68]:
new_file = 'any_chron_cond_' + str(year) + '.csv'
df.to_csv(new_file)